.navbar-nav .nav-link {
  color: #a8d5e5;
  font-family: 'Sunflower'; 
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0 0 5px #000;
}

.nav-item {
  padding-left: 10px;
  padding-right: 10px;
}

.navbar-collapse{
  display: flex;
  justify-content: center;
}